
* {
  padding: 0;
  margin: 0;
}

/* =======================> Main Content <======================= */

html {
  height: 100%;
}

body {
  background-image: url("./src/nightsky.png"); 
  background-size: cover;
  background-repeat: no repeat;
  height: 100%;
}

#root {
  height: 100%;
}

#route-wrapper {
  height: 100%;
}

#main-content {
  width: 75%;
  margin: 50px auto;
}

#logo-wrapper {
  width: 50%;
  margin: auto;
}

#radon-logo {
  width: 100%; 
  height: 100%;
}

#main-nav-buttons {
  width: 75%;
  margin: 50px auto;
}

.nav-button {
  display: inline-block;
  text-decoration: none;
  color: white; 
  border: solid;
  width: 100%;
  line-height: 70px;
  text-align: center;
  font-family: monospace;  
  margin: 10px 0;
  font-size: 17px;
  background: transparent;
  outline: none;
  border-color:rgba(69, 243, 243, 0.733);
  box-shadow: 0 0 10px rgba(69, 243, 243, 0.733);
}

#github-logo {
  width: 100px;
  height: 100px;
}

#radon-description {
  width: 75%;
  text-align: center;
  margin: auto;
  font-size: 20px;
  word-spacing: 10px;
  letter-spacing: 5px;
  font-family: monospace;  
  color: white; 
}

/* =======================> SIDEBAR <======================= */


#sidebar {
  float: left;
  padding-top: 20px;
  padding-left: 20px;
  min-height: 100%;
  overflow: auto;
  width: 25%;
  min-width: 200px;
  outline: none;
  background-color: rgba(69, 243, 243);
}

.maintabs {
  text-decoration: none;
}

.subtabs{
  padding: 0px;
  text-decoration: none;
  padding: 20px;
}

/* =======================> DOCS <======================= */

#docs-component {
  height: 100%;
  width: 100%;
}

#docs-text-component {
  vertical-align: top;
  height: 100%;
  width: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
}

.all-text-components {
  margin: 50px 100px;
}

h1 {
  margin-bottom: 20px;
}

.subheaders {
  margin-bottom: 20px;
}

.paragraph {
  line-height: 30px;
  margin: 15px 0;
}