
* {
  padding: 0;
  margin: 0;
}

/* =======================> Main Content <======================= */

html {
  height: 100%;
}

body {
  background-image: url("./src/nightsky.png"); 
  background-size: cover;
  background-repeat: no repeat;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

#route-wrapper {
  height: 100%;
}

#main-content {
  width: 75%;
  margin: 50px auto;
}

#logo-wrapper {
  width: 50%;
  margin: auto;
}

#radon-logo {
  width: 100%; 
  height: 100%;
}

#main-nav-buttons {
  width: 75%;
  margin: 50px auto;
}

.nav-button {
  display: inline-block;
  text-decoration: none;
  color: white; 
  border: solid;
  width: 100%;
  line-height: 70px;
  text-align: center;
  font-family: monospace;  
  margin: 10px 0;
  font-size: 17px;
  background: transparent;
  outline: none;
  border-color:rgba(69, 243, 243, 0.733);
  box-shadow: 0 0 10px rgba(69, 243, 243, 0.733);
}

#github-logo {
  width: 100px;
  height: 100px;
}

#radon-description {
  width: 75%;
  text-align: center;
  margin: auto;
  font-size: 20px;
  word-spacing: 10px;
  letter-spacing: 5px;
  font-family: monospace;  
  color: white; 
}

/* =======================> SIDEBAR <======================= */


#sidebar {
  float: left;
  padding-top: 20px;
  padding-left: 20px;
  min-height: 100%;
  overflow: auto;
  width: 25%;
  min-width: 200px;
  outline: none;
  background-color: rgb(241, 241, 241);
}

.maintabs {
  text-decoration: none;
}

.subtabs{
  padding: 0px;
  text-decoration: none;
  padding: 20px;
}

/* =======================> DOCS <======================= */

#docs-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#docs-component > .header, #docs-component > div.content {
  display: flex;
  flex-direction: column;
}

#docs-component > div.content {
  flex: 1;
  flex-direction: row;
}

#docs-component > div.sidebar {
  display: flex;
  flex-direction: row;
  width: 15%;
  min-width: 250px;
  flex: 1;
}

#docs-component > .content {
  display: flex;
  flex-direction: row;
}

#docs-text-component {
  vertical-align: top;
  height: 100%;
  width: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #ffffff;
}

.selected {
  color: rgb(255, 36, 36);
}

a, a:visited {
  color: black;
}

/* ====================> Getting Started <================== */

/* =======================> API Ref <======================= */

div.docContent {
  display: flex;
}

div.docContent > div.pageContents {
  width: 400px;
}

div.docContent > div.pageContents > ul {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  list-style-type: none;
  padding-top: 45px;
  position: fixed;
}

div.docContent > div.pageContents > ul > p {
  padding-bottom: 8px;
  font-size: 10px;
  color: rgb(133, 133, 133);
}

div.docContent > div.pageContents > ul > li {
  list-style-type: none;
  font-size: 12px;
  font-weight: 600;
  color: rgb(61, 61, 61);
  padding-top: 5px;
}

div.apiref {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(73, 73, 73);
  padding-left: 25px;
  padding-right: 25px;
}

div.apiref > hr {
  margin-top: 45px;
  margin-bottom: 45px;
  border-color: rgba(226, 226, 226, 0.301);
}

div.apiref > p > ol {
  margin-left: 15px;
}

code.copySection {
  background-color: rgb(238, 238, 238);
  padding: 3px;
  border-radius: 4px;
}

italics {
  font-style: italic;
}

.all-text-components {
  margin: 50px 100px;
  min-width: 800px;
  max-width: 800px;
}

h1 {
  margin-bottom: 20px;
}

.subheaders {
  margin: 20px 0px;
}

.paragraph {
  line-height: 30px;
  margin: 15px 0;
}